In [1]:
age = 18
if age < 18:
  print("You are not eligible to vote")

In [3]:
num = 6
if num % 2 == 0:
  print("Even number")
else:
  print("Odd number")

Even number

In [4]:
marks = 49
if marks >= 90:
  print("Grade A")
elif marks >= 80:
  print("Grade B")
elif marks >= 70:
  print("Grade C")
elif marks >= 60:
  print("Grade D")
elif marks >= 50:
  print("Grade E")
else:
  print("Grade F")

Grade F

In [5]:
num = 21
if num > 10:
  if num % 2 == 0:
    print("Even number greater then 10")
  else:
    print("Odd number greater then 10")

Odd number greater then 10

In [6]:
is_adult = True
has_voter_id = False
if is_adult and has_voter_id:
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

You are not eligible to vote

In [7]:
age = 28
message = "Adult" if age >= 18 else "Minor"
print(message)

Adult

In [8]:
color = "black"

match color:
  case "red":
    print("Stop")
  case "yellow":
    print("Get Ready")
  case "green":
    print("Go")
  case _:
    print("Invalid color")

Invalid color

In [9]:
fruits = ["apple","banana","cherry","orange"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry
orange

In [10]:
for char in "PlusW":
  print(char)

P
l
u
s
W

In [11]:
person = {"Name":"Zohaib","Age":21,"City":"Karachi","Gender":"Male","Program":"BSCS"}

for key,value in person.items():
  print(f"{key} : {value}")

Name : Zohaib
Age : 21
City : Karachi
Gender : Male
Program : BSCS

In [12]:
for i in range(5):
  print(i)

0
1
2
3
4

In [13]:
for i in range(0,10,2):
  print(i)

0
2
4
6
8

In [14]:
count = 0
while count < 5:
  print(f"Count : {count}")
  count += 1
  print(f"After increment : {count}")

Count : 0
After increment : 1
Count : 1
After increment : 2
Count : 2
After increment : 3
Count : 3
After increment : 4
Count : 4
After increment : 5

In [15]:
while True:
  user_input = input("Enter 'quit' to exit :")
  if user_input.lower() == 'quit':
    print("Exiting Loop")
    break

Enter 'quit' to exit :no
Enter 'quit' to exit :yes
Enter 'quit' to exit :zohaib
Enter 'quit' to exit :quit
Exiting Loop

In [16]:
for i in range(10):
  if i == 5:
    print("Breaking Loop")
    break
  print(i)

0
1
2
3
4
Breaking Loop

In [17]:
for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [19]:
for i in range(5):
  if i == 3:
    pass # Placeholder
  print (f"Processing {i}")

Processing 0
Processing 1
Processing 2
Processing 3
Processing 4

In [20]:
for i in range(3):
  for j in range(2):
    for h in range(2):
      print(f" i = {i} | j = {j} | h = {h}")

 i = 0 | j = 0 | h = 0
 i = 0 | j = 0 | h = 1
 i = 0 | j = 1 | h = 0
 i = 0 | j = 1 | h = 1
 i = 1 | j = 0 | h = 0
 i = 1 | j = 0 | h = 1
 i = 1 | j = 1 | h = 0
 i = 1 | j = 1 | h = 1
 i = 2 | j = 0 | h = 0
 i = 2 | j = 0 | h = 1
 i = 2 | j = 1 | h = 0
 i = 2 | j = 1 | h = 1

In [22]:
for i in range(1,10):
  for j in range(1,11):
    print(f"{i} x {j} = {i*j}")
  print("==========")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
==========
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
==========
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
==========
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
==========
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
==========
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
==========
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
==========
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
==========
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
==========

In [23]:
for num in range(5):
  print(num)
else:
  print("Loop Completed Successfully")

0
1
2
3
4
Loop Completed Successfully

In [24]:
for num in range(5):
  if num == 3:
    print("Breaking the loop")
    break
  print(num)
else:
  print("Loop completed without breaking")

0
1
2
Breaking the loop

In [25]:
nums = [1,2,3,4,5]
search = 6
for num in nums:
  if num == search:
    print(f"{search} Found in the list")
    break
else:
  print(f"{search} Not Found in the list")

6 Not Found in the list

In [26]:
def greet():
  print("Hello Python")

In [27]:
def greet_user(name):
  print(f"Hello {name}")

In [29]:
greet()
greet_user("Zohaib")

Hello Python
Hello Zohaib

In [30]:
def add(a,b):
  return a+b
def display_info(name,age):
  return(f"Name : {name} | Age : {age}")

In [31]:
print(add(5,10))
print(display_info("Zohaib",22))

15
Name : Zohaib | Age : 22

In [32]:
def calculate(a,b):
  return a+b , a-b

In [33]:
sum , diff = calculate(10,20)
print(f"Sum : {sum} | Diff : {diff}")

Sum : 30 | Diff : -10

In [34]:
def greet(name , greeting):
  return f"{greeting} {name}"

print(greet(greeting = "Hello",name = "Zohaib"))

Hello Zohaib

In [35]:
def greet(name = "Zohaib", greeting = "Hey"):
  return f"{greeting} {name} !!!"

print(greet(greeting = "Hello",name = "Mahira"))
print(greet( "Hasan"))
print(greet())

Hello Mahira !!!
Hey Hasan !!!
Hey Zohaib !!!

In [36]:
def print_kvargs(**kvargs):
  for key, value in kvargs.items():
    print(f"{key} : {value}")

print_kvargs(name = "Zohaib", age = 21, city = "Karachi")

name : Zohaib
age : 21
city : Karachi

In [37]:
square = lambda x : x**2
print(square(10))

100