<a href="https://colab.research.google.com/github/zohaibkhanzohaibi/OEC_Japan_IT_Class/blob/main/class_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
if True:
  print("This is indented correctly")

This is indented correctly

In [2]:
if True:
print("This is indented correctly")

IndentationError: expected an indented block after 'if' statement on line 1 (<ipython-input-2-4b082c6557a9>, line 2)

In [3]:
name="Zohaib"
age=21
pi=3.141
print("name: ",name)
print("age: ",age)
print("pi: ",pi)

name:  Zohaib
age:  21
pi:  3.141

In [4]:
name=input("enter name : ")
age=int(input("enter age : "))
print(name,age)

enter name : Zohaib
enter age : 21
Zohaib 21

In [5]:
z=2+3j
print(z.real,z.imag)

2.0 3.0

In [6]:
msg = "Hello World!"
repeat = "Python" * 10
print(repeat)
replace = msg.replace("Hello","Hi")
print(replace)
print(msg[0])
print(msg[0:5])
print(msg[6:])

PythonPythonPythonPythonPythonPythonPythonPythonPythonPython
Hi World!
H
Hello
World!

In [7]:
temp = [1,2,3,4,5]
print(temp)
temp.append(6)
print(temp)
print(temp[0:3])

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
[1, 2, 3]

In [8]:
tup= (1,2,3,4,5)
print(tup)

(1, 2, 3, 4, 5)

In [9]:
num_set = {1,2,3,4,5}
num_set.add(6)
print(num_set)
num_set.add(6)
print(num_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

In [15]:
dictionary = {"name": "Zohaib"}

dictionary['name'] = "mzkg"
print(dictionary)

{'name': 'mzkg'}

In [11]:
num1 = 10
num2= 10.01
result= num1+num2
print (result)
print(type(result))

20.009999999999998
<class 'float'>

In [13]:
age = "21"
print(type(age))
integer = 10
age = int(age)
result= age+integer
print(result)

<class 'str'>
31

In [16]:
print("Floor Div:",10//3)
print("Mod:",5%2)
print("Exponent:",2**3)

Floor Div: 3
Mod: 1
Exponent: 8

In [17]:
p = True
q= False

print("AND", p and q)
print("OR", p or q)
print("NOT", not p)

AND False
OR True
NOT False

In [18]:
a=10
print(a)
a+=5
print(a)
a-=5
print(a)
a*=5
print(a)
a/=5
print(a)

10
15
10
50
10.0

In [19]:
sentence = "a random sentence"
print(len(sentence))

17

In [20]:
sentence = "a random sentence"
tokens = sentence.split(" ")
print(tokens)

['a', 'random', 'sentence']

In [22]:
import random
no = random.randint(1,10)
print(no)
print(random.random())
items = ["apple", "banana", "orange"]
random.shuffle(items)
print(items)
print(random.choice(items))

3
0.04539632842682484
['apple', 'orange', 'banana']
apple